name: Breakage

on:
  pull_request:
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Buildkite Pipeline
        env:
          BUILDKITE_API_TOKEN: ${{ secrets.BUILDKITE_API_TOKEN }}
          BUILDKITE_ORGANIZATION: "quantumsavory"
          BUILDKITE_PIPELINE: "quantuminterface-jl"
        run: |
          curl -X POST "https://api.buildkite.com/v2/organizations/$BUILDKITE_ORGANIZATION/pipelines/$BUILDKITE_PIPELINE/builds" \
            -H "Authorization: Bearer $BUILDKITE_API_TOKEN" \
            -H "Content-Type: application/json" \
            -d '{
              "commit": "'${{ github.event.pull_request.head.sha || github.sha }}'",
              "branch": "'${{ github.event.pull_request.head.ref || github.ref_name }}'",
              "message": "Downstream dependency testing for QuantumInterface.jl changes"
            }'
